# Environments
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/

# Sqlite DB
api/instance/

# Developer config
api/config.cfg

# Byte-compiled / optimized / DLL files
__pycache__/

# Dependencies
node_modules/

# Production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
results/